* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.main-div {
  width: 100vw;
  height: 100vh;
  background: hsl(0, 0%, 94%);
  display: grid;
  place-items: center;
}

.center_div {
  width: 50vw;
  height: 50vh;
  color: #000;
  text-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
  font-size: 6.5rem;
  font-family: 'Sacramento', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 100;
}

.love {
  color: red;
}

@media screen and (max-width: 740px) {
  .center_div {
    font-size: 3.8rem;
    font-weight: 200;
  }
}

@media screen and (max-width: 500px) {
  .center_div {
    font-size: 3rem;
    font-weight: 300;
  }
}
